<VirtualHost *:80>
    ServerName {{ ansible_host }}
    ServerAlias myapp
    DocumentRoot /var/www/myapp/public

    <Directory /var/www/myapp>
        AllowOverride All
    </Directory>
</VirtualHost>